* {
    padding: 0;
    margin: 10px;
}

body {
    color: white;
    font-family: 'Carter One', cursive;
    font-family: 'Cinzel', serif;
    font-family: 'Handlee', cursive;
    font-family: 'Mulish', sans-serif;
    background-image: url(../img_zapas/imgfondo5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.encabezado {
    color: white;
}


.img {
    width: 150px;
    height: 150px;

}

#contenedor {
    width: 90%;
    margin: 25px auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.cards {
    background-color: rgba(7, 14, 63, 0.5);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px;
}

.nombreZapa {
    color: white;
    display: flex;
    flex-direction: column;
}

.nombreMarca{
    display: flex;
    justify-content: center;
}

.precioZapa {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
}

.boton {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    border-radius: 8px;
}

.btn-close {
    color: white;
    border: 1px solid white;
}

.offcanvas-title {
    color: white;
}

.boton:hover {
    color: black;
    background-color: white;
}

.contenedorFiltro {
    display: flex;
    justify-content: space-around;
}

.buscador {
    display: flex;
    justify-content: end;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#contenedor-logo-carrito {
    width: 100%;
    padding: 0;
    margin: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

.logoTienda{
    padding: 0;
    margin: 0;
    width: 50px;
}


.offcanvas {
    color: white;
    background-color: rgb(7, 14, 63);
    display: flex;
    justify-content: space-evenly;
}